<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
    <listener class-name="utility.TestNg_listner"/>
    
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="pagelayer.First_testngpro"/>
      <class name="test_layer.Example1"/>
      <class name="test_layer.Example2"/>
        <class name="test_layer.Example3"/>
         <class name="annoatation.Annoation_example1"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
